h1
{
    text-align: center;
    display: inline-block;
    width: 100%;
}

#box
{
    display: block;
    text-align: center;
    width: 250px;
    height: 25px;
    padding: 6px;
    font-size: 20px;
    margin: 10px auto;
}

#entry
{
    display: block;
    background-color: blue;
    float:none;
    height: auto;
    width: auto;
    position: relative;
    margin:10px auto;
    color: white;
}
.todo_container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
}
@media screen and (max-width: 600px) {
.todo_container{
    width: 100%;
}
}


.todo {
    display: flex;
    border-radius:.4rem;
    background-color: azure;
    border: solid 1px #c3c3c3;
    padding: .6rem 1.5rem;
    justify-content: space-between;
    align-items: 'center';
width: 100%;
margin: 2px auto;
}
.todo > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: '#212121';


}
.todo-btn {
    display: flex;
    align-items: 'center';
    justify-content: center;
    flex-direction: column;
margin-left: 3rem;
}
button {
    margin-left: auto;
    background-color: darkblue;
    border-radius: 900px;
    border: solid white 2px;
color:white;
padding: 5px 10px;
cursor: pointer;
}
button.done {
    background-color: greenyellow;
    color:darkblue;
}
button:hover {
    background-color: darkcyan;
}