h1
{
    text-align: center;
    display: inline-block;
    width: 100%;
}

#box
{
    display: block;
    text-align: center;
    width: 250px;
    height: 25px;
    padding: 6px;
    font-size: 20px;
    margin: 10px auto;
}

#entry
{
    display: block;
    background-color: blue;
    float:none;
    height: auto;
    width: auto;
    position: relative;
    margin:10px auto;
    color: white;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo {
    display: flex;
    border-radius:.4rem;
    background-color: azure;
    border: solid 1px #c3c3c3;
    padding: .6rem 1.5rem;
    justify-content: 'space-between';
    align-items: 'center';

}
.todo > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: '#212121';


}
.todo-btn {
    display: flex;
    align-items: 'center';
    justify-content: center;
    flex-direction: column;
margin-left: 3rem;
}